//about this plugin for ssr https://styled-components.com/docs/tooling#babel-plugin
{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true
            }
        ]
    ]
}